
.window-container
  margin: 0
  width: 100vw
  min-height: 100vh
  overflow-x: hidden
  overflow-y: scroll

.container
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: column
  width: 100%
  min-height: 100vh
  margin: 0
  background-color: $mycolor-8

.cells
  text-align: center
  line-height: 1.5
  width: 100%

.cellA
  align-items: center
  background:
    position: center top
    repeat: no-repeat
    image: $myimage-bg-top
    size: cover
  padding: $padding
  justify-content: space-between
  min-height: $nav-height
  max-width: 98%
  flex-direction: row
  display: flex
  position: sticky
  top: 0

.cellB
  width: 100%
  background-color: $mycolor-8
  display: flex
  flex-direction: column

.cellB2
  background:
    color: $mycolor-transparant
  width: 100%
  margin: 0 auto

.cellB-portfolio
  display: flex
  flex-flow: row wrap
  justify-content: space-evenly
  width: 100%

.cellB-case
  width: 100%
  height: auto
  background:
    size: cover
    position: center center
    repeat: no-repeat

.cellB-about
  display: flex
  flex-flow: column
  justify-content: space-evenly
  width: 100%
  min-height: $thumbnail-height-small

.cellC
  justify-content: center
  margin: 2px 0 0 0

.cellC-home
  @extend .cellC

.portfolio-cell
  width: $thumbnail-width-small

.testimonial-cell
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: $mycolor-3
  margin: 25px 0
  width: 100%

.about-cell
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.about-cell-labels
  @extend .about-cell
  flex-flow: row wrap
  justify-content: center
  width: $thumbnail-width-small

// CSS and SASS coded for mobile screens, hereafter the exeptions for wider screens.
@media only screen and (min-width: $media-width-tablet)
  .window-container
    margin: 0 auto

  .container
    margin: 0 auto
    background: none

  .cellA
    max-width: 100vw

  .cellB
    background-color: $mycolor-8
    max-width: 1250px
    margin: 25px auto 25px auto
    top: $nav-height

  .cellB-portfolio
    flex-flow: row wrap
    min-height: 95%

  .cellC
    background:
      position: center bottom
      repeat: no-repeat
      image: $myimage-bg-top
      size: cover

  .portfolio-cell
    max-width: 20%
    background-color: none // $mycolor-3
    margin: 5px

  .portfolio-cell-link:hover
    background-color: $mycolor-1

@media only screen and (min-width: $media-width-desktop)
  .window-container
    background:
      color: $mycolor-8
    margin: 0 auto

  .container
    margin: 0 auto
    background: none
    justify-content: flex-start

  .cellA
    max-width: 100vw
    width: 100vw

  .cellB
    background: none
    width: 60vw
    max-width: 1250px
    margin: 25px auto 25px auto
    top: $nav-height

  .cellC
    background:
      position: center bottom
      repeat: no-repeat
      image: $myimage-bg-top
      size: cover
    position: fixed
    top: 98vh

  .cellC-home
    background: none
    padding: 1px

  .cellB-portfolio
    flex-flow: row wrap
    min-height: 95%

  .portfolio-cell
    max-width: 30%
    background-color: none // $mycolor-3
    margin: 5px
    min-height: 200px
    align-items: center
    display: flex
    flex-flow: column

  .portfolio-cell-link:hover
    background-color: $mycolor-1
