// SASS/CSS code for the components on the webpage like buttons and images

.thumbnail
  color: $mycolor-5

.button
  text-align: center
  font:
    family: $myfont-head
    size: 18px
  padding: 5px
  background:
    color: $mycolor-6
  border-radius: 2px
  margin: 10px

.button:hover
  background:
    color: $mycolor-hover

.img-centered, img, .img-portfolio-thumb
  margin: $image-margin auto 0 auto
  display: block
  width: 100%
  height: auto
  text-align: center

.img-portfolio-thumb
  margin: 0
  max-width: 98%
  padding: 2px 2px 0 2px

.img-about-thumb
  padding: 2px 2px 0 2px
  height: $thumbnail-about
  width: $thumbnail-about
  margin: 10px 0
  border-radius: 50%
  float: left
  padding: 0

.img-thumb
  margin: 0 0 0 $image-margin
  // padding: 2px 2px 0 2px
  width: 300px
  height: auto
  float: right

// CSS and SASS coded for mobile screens, hereafter the exeptions for wider screens.
@media only screen and (min-width: $media-width-tablet)
  .img-centered, img
    width: 60%
    height: auto

  .img-about-thumb
    height: $thumbnail-height
    width: $thumbnail-height
    margin: $image-margin auto $image-margin auto

  .img-portfolio-thumb
    width: 100%

@media only screen and (min-width: $media-width-desktop)
  .img-centered, img
    width: 60%
    height: auto
    margin: $image-margin auto $image-margin auto

  .img-about-thumb
    height: $thumbnail-height
    width: $thumbnail-height

  .img-portfolio-thumb
    width: 100%
