<!doctype html>
<html class="window-container">

{% include head.html %}

<body class="grid-container">

	<head>

		<nav class="grid-cells-menu cellA">

			{% include navigation-js.html %}

		</nav>


	</head>


	<main class="grid-cells cellB ">

		{{ content }}

	</main>

	<footer class="grid-cells cellC">

		{% include footer.html %}

	</footer>
	<script>
	function menuDropdown() {
	  var x = document.getElementById("menu-links");
	  if (x.display === "block") {
	    x.display = "none";
	  } else {
	    x.display = "block";
	  }
	}
	</script>
</body>

</html>
