---
layout: default
title: Techniques
permalink: /techniques/
---

<div class="cellB-about">
  <h1 id="vision">Techniques</h1>
  <img src="/assets/images/bureauPeter.jpg" alt="" class="img-centered" style="width:85%; ">
  <p>
    Finding the necesary workflow (or methodology) is a quest in itself. A combination of skills, knowledge and experience which can be achieved by persistent work, reflection in/on action and perseverance. A dedication found by athletes, artists and craftsmen, amongst others. A craftsmen sculps matter with tools in a particular flow. The choice for a specific tool, the operation of these instruments, the knowledge on the materials at hand, and the sequences through which the tools and materials melt together into a piece of art. For me, this describes the techniques and practice of a craft.
<br><br>
  <!-- </p>
  <h3>attributed to artefacts</h3>
  <p> -->
    I believe complex environments and wicked problems can be understood through interactive plays with low-res tangible artefacts. Engaging professionals with physical activities and attribute actors and factors to artefacts give a whole other perspective on the environments and problems. Through my projects I have the opportunity to create and study different plays (or methods), some of these methodes I communicate and share through workshops.
  </p>
  <h2>Satis-action</h2>
  <p>
    The <a href="https://www.satis-action.nl">Satis-action method</a> creates a shared understanding on the systemic environment around a central actor. From this insight professionals can make joined efforts to an effective sollution and orchestrate the collaboration between organisations.
  </p>
  <h2>Others Eyes</h2>
  <p>
    The Others Eyes method creates an individual understanding on the setting of a specific problemcase. The individual professionals communicate their understanding with visual expressions. By postponing judgement and questioning the others expression, a constructive dialogue arise. This dialogue create mutual understanding of the others stands, perspective and perception of the problemcase. This conversation starter guides professionals through their exploration of a problemcase towards an in-depth dialogue with the involved others.
  </p>
</div>
<div class="cellB-portfolio">
  <h2 id="craftsmen">Workshops</h2>
  <p>
    Workshops are effective events for training and practice of these techniques. Therefor workshops are a technique on their own. I organise workshops to facilitate professionals in specific cases and I use these workshops to train facilitators as
    well. Getting the full potential of learning- and reflection in action is through practice in (near) real-life situations.
    <br><br>
  <!--
    "Techniques as a cultural issue rather than as a mindless procedure" (Sennett, 2008, p.8). Technique is misunderstood as a repetition of events in a prescribed way, still for the sake of this portfolio I will take this kind of techniques into consideration and only mention briefly the "technique for conducting a particular way of life" (Sennett, 2008, p.8) for this higher form of technique is in a way an 'art of living' and still under construction. I could argue for now that my way of living is more and more in harmony with Nature by practicing Yoga, doing my duty and acting morally right as elaborated in my FMP (Sri Swami Sivananda, 2000; Anidjar & Derrida, 2002) but with Derrida I like to postpone the decision and stay in the aporia of development as craftsmen.
    <br><br>
    Through the master study industrial design I received the opportunity to study and create methods on collaboration between public organisations working in a complex environment on multiproblem issues. The <a href="https://www.satis-action.nl">Satis-action method</a> orchestrates collaboration between organisations towards an enriched society and Others Eyes guides professionals through their exploration of a problemcase towards an in-depth dialogue with the involved others and leads to a morally right decision.
    <br><br>
    Derrida's deconstruction offered me a great intuition pump (Anidjar & Derrida, 2002; Dennett, 2013), a tool for thinking and arguing on morallity and other subject in dialogues, discussions and debates. The transformative paradigm (Brand & Rocchi, 2011) and transformation practices (Hummels, Trotto, Lévy, Peeters, Lino Alves & Klooster, 2018) are an inspiration and guidance for the change I could argue to be a necessity for the future of Nature. The qualitative methodology intuitive inquiry offered me structure in research and data-analysis in harmony with my authenticity and spiritual, mental and physical development as a human being.
    <br><br>
    Through these techniques I am confident to embrace complexity and use it to support the design of beautiful and understandable services and (organisational) systems in
    the context of wicked problems within public sector organisations.
    It support the translation of thoughts, ideas and concepts so users, providers, facilitators and producers become change, work on change and realise transformation (Hummels, Trotto, Lévy, Peeters, Alves Lino & Klooster, 2018).

    These techniques are practiced during the study and through my startup <a href="https://www.devakmakerij.nl">De Vakmakerij</a> with workshops, case-support and training of professionals.
  </p>

</div>
<div class="cellB-portfolio">
  <h1 id="craftsmen">Workshops</h1>
  <p> -->
  I contribute on several topics related to transformation practices since 2015 by moderating different workshops and exhibitions through which professionals created awareness on specific cases and experienced different design concepts, techniques
  and tools. Hereafter an overview on some of the events I had the privelege to contribute to.
  <br><br>
  </p>
</div>
<div class="cellB-workshop">
  {% for workshop in site.data.workshops %}
  <div class="workshop-cell">
    <div class="workshop-cell-img">
      <img class="img-portfolio-thumb" src="{{ site.pathtoimages }}{{ workshop.image }}" alt="">
      <p class="small"> {{ workshop.type }} </p>
    </div>
    <div class="workshop-cell-text">
      <p class="clientslist">{{ workshop.date }}</p>
      <br><br>
      <p class="clientslist-small">subject:</p>
      <p class="clientslist">{{ workshop.title }}</p>
      <br><br>
      <p class="clientslist-small">clients:</p>
      {% for item in workshop.clients %}
      <p class="clientslist">{{ item }}</p>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
