---
layout: default
title: Techniques
permalink: /techniques/
---

<div class="cellB-about">
  <h1 id="vision">My Techniques</h1>
  <img src="/assets/images/bureauPeter.jpg" alt="" class="img-centered" style="width:85%; ">
  <p>
    "Techniques as a cultural issue rather than as a mindless procedure" (Sennett, 2008, p.8). Technique is misunderstood as a repetition of events in a prescribed way, still for the sake of this portfolio I will take this kind of techniques into consideration and only mention briefly the "technique for conducting a particular way of life" (Sennett, 2008, p.8) for this higher form of technique is in a way an 'art of living' and still under construction. I could argue for now that my way of living is more and more in harmony with Nature by practicing Yoga, doing my duty and acting morally right as elaborated in my FMP (Sri Swami Sivananda, 2000; Anidjar & Derrida, 2002) but with Derrida I like to postpone the decision and stay in the aporia of development as craftsmen.
    <br><br>
    Through the master study industrial design I received the opportunity to study and create methods on collaboration between public organisations working in a complex environment on multiproblem issues. The [Satis-action](https://www.satis-action.nl) method orchestrates collaboration between organisations towards an enriched society and Others Eyes guides professionals through their exploration of a problemcase towards an in-depth dialogue with the involved others and leads to a morally right decision.
    <br><br>
    Derrida's deconstruction offered me a great intuition pump (Anidjar & Derrida, 2002; Dennett, 2013), a tool for thinking and arguing on morallity and other subject in dialogues, discussions and debates. The transformative paradigm (Brand & Rocchi, 2011) and transformation practices (Hummels, Trotto, Lévy, Peeters, Lino Alves & Klooster, 2018) are an inspiration and guidance for the change I could argue to be a necessity for the future of Nature. The qualitative methodology intuitive inquiry offered me structure in research and data-analysis in harmony with my authenticity and spiritual, mental and physical development as a human being.
    <br><br>
    Through these techniques I am confident to embrace complexity and use it to support the design of beautiful and understandable services and (organisational) systems in
    the context of wicked problems within public sector organisations.
    It support the translation of thoughts, ideas and concepts so users, providers, facilitators and producers become change, work on change and realise transformation (Hummels, Trotto, Lévy, Peeters, Alves Lino & Klooster, 2018).

    These techniques are practiced during the study and through my startup [De Vakmakerij](https://www.devakmakerij.nl) with workshops, case-support and training with professionals.
  </p>

</div>
<!-- <div class="cellB-about"> -->
<div class="cellB-portfolio">

  <h1 id="craftsmen">Workshops</h1>
  <!-- <p>
    <img class="img-thumb" src="/assets/images/sennetsHand.jpeg" alt="" />
    Craftsmenship is all about the dedicated and engaged professional who masters tools and techniques for the sake of the work on its own (Sennet, 2008). This portfolio-layout is crafted along the qualities to give a glance of my intended
    craftmenship. The expertise areas of the study are interwoven as well.
    <br><br>
    I aim to seduce individuals and organisations towards a morally right transformation and empower them with techniques and tools to take into account individual and organisational rights, duties, interest and wishes in order to satisfy the needs
    of all involved others (Ekins &amp; Max-Neef, 1996; Governance and Integrity, 2008; Gerritsen, 2011).
  </p> -->
  <p>
    <!-- <img class="img-thumb" src="/assets/images/02.jpeg" alt="Peter speaking" /> -->
    Education and training are essential in the transformation of systems, especially for the professionals who facilitate or execute change on wicked problems in the variety of complex environments. I contribute on several topics related to transformation practices since 2015 by moderating different workshops and exhibitions through which professionals created awareness on specific cases and experienced different design concepts, techniques and tools. Hereafter an overview on some of the events I had the privelege to contribute to.
  </p>

</div>
<div class="cellB-workshop">
  {% for workshop in site.data.workshops %}
  <div class="workshop-cell">
    <div class="workshop-cell-img">
       <img class="img-portfolio-thumb" src="{{ site.pathtoimages }}{{ workshop.image }}" alt="">
    </div>
        <!-- {{ workshop.role }} -->
    <div class="workshop-cell-text">
        <p class="testimonial-small">{{ workshop.date }}</p>
       <p class="testimonial-small">subject:</p>
        <p class="testimonial">{{ workshop.title }}</p>
        <p class="testimonial-small">clients:</p>
        {% for item in workshop.clients %}
        <p class="clientslist">{{ item }}</p>
        {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
