---
layout: default
title: Testimonials
permalink: /testimonials/
---

<h1>Testimonials</h1>
<!-- <p>Some quotes of participants, partners and clients on my work, workshops and contribution to their projects.</p> -->
<div class="cellB-portfolio">
  {% for testimonial in site.data.testimonials %}
  <!-- <div class="portfolio-cell"> -->
    <div class="testimonial-cell">
    <!-- <div class="workshop-cellA"> -->
    <p class="testimonial">&ldquo;{{ testimonial.text }}&rdquo;</p>
    <p class="testimonial-small">{{ testimonial.client }}</p>
  </div>
  {% endfor %}

</div>
