---
layout: default
title: Vision
permalink: /vision/
---

<div class="cellB-about">
  <h1 id="vision">My vision</h1>
  <p>
    The wellfare state of our modern society is impressive, we live in prosperity. But our way of living comes with a cost. We pollute our oceans, poles, rainforrest and air. Our commodities are created by people living in embarrasing circumstances
    or even slavery. The individualisation in our society creates exclusion of people. The cost of our modernisation becomes sensible at the bottom of the global society and is paid by other people and nature.
    <br><br>
    A multi-disciplinairy collaboration can make a change from this dark side of modernisation to a more sustainable development (United Nations, 2007). A way to facilitate this transformation is described in the transformative practices (Hummels,
    Trotto, Lévy, Peeters, Alves Lino &amp; Klooster, 2018). A society moving towards the transformation paradigm requires a fundamental shift in mindset, vocabulary and behaviour (Gardien, Djajadiningrat, Hummels &amp; Brombacher, 2014).
    <br><br>
    Governments and their organisations have to adapt to the continuity of society and ensure stability for the citizens. But transformation in public sector organisations is a complex process with paradoxes where moral dilemmas occur. Administrators
    in public organisations continually search for the morally right decisions and actions (Du Gay, 2000; Gerritsen, 2011).
    <br><br>
    Spiritual development and a meaningful life is a growing need of individuals. Organisations address or incorporate these kind of spiritual needs with the use of valuable and meaningful interaction between individuals and organisations within
    collaborating system and coalitions. Individuals, professionals and leaders face a diversity of questions and challenges on morality and development (Meij, 2017).
    <br><br>
    With their methods and tools designers and moral consultants can inspire and support decision making processes towards the morally right interventions in specific situations. Leaders can modernise a meaningful collaboration by learning the
    practices of designers and moral consultants. I search for the best of these worlds by combining design, leadership and personal coaching for individuals, professionals and organisations working on the transformation of society.
  </p>
</div>
<div class="cellB-about">
  <h1 id="craftsmen">Craftsmen</h1>
  <p>
    <img class="img-thumb" src="/assets/images/sennetsHand.jpeg" alt="" />
    Craftsmenship is all about the dedicated and engaged professional who masters tools and techniques for the sake of the work on its own (Sennet, 2008). This portfolio-layout is crafted along the qualities to give a glance of my intended
    craftmenship. The expertise areas of the study are interwoven as well.
    <br><br>
    I aim to seduce individuals and organisations towards a morally right transformation and empower them with techniques and tools to take into account individual and organisational rights, duties, interest and wishes in order to satisfy the needs
    of all involved others (Ekins &amp; Max-Neef, 1996; Governance and Integrity, 2008; Gerritsen, 2011).</p>
</div>
