---
layout: default
title: Workportfolio
permalink: /workportfolio/
---
<h1>Workportfolio</h1>
<!-- <p class="testimonial">An impression of my projects.</p> -->
<div class="cellB-portfolio">

  {% for post in site.posts %}
  <div class="portfolio-cell">
    <!-- <div class="portfolio-cell" style="background-image:url({{ site.pathtoimages }}{{ post.thumbnail }})"> -->
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="portfolio">
      <div class="portfolio-cell-link">

        <img class="img-portfolio-thumb" src="{{ site.pathtoimages }}{{ post.thumbnail }}" alt="">
        {{ post.title }}
      </div>

    </a>
  </div>
  {% endfor %}

  {% for workshop in site.data.workshops %}
  <div class="portfolio-cell">
    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="portfolio">
      <div class="portfolio-cell-link">

        <img class="img-portfolio-thumb" src="{{ site.pathtoimages }}{{ workshop.image }}" alt="">
        {{ workshop.role }}
        {{ workshop.date }}
        <!-- <h3 class="workshop">{{ workshop.date }}</h3>
        <p class="workshop">{{ workshop.title }}</p>
        <p class="small">{{ workshop.clients }}</p> -->

      </div>

    </a>
  </div>
  {% endfor %}


</div>
